@font-face {
    font-family: 'medieval';
    src: url('The Centurion.otf') format('opentype'), url('The Centurion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iberica';
    src: url('LongaIberica-DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #808080);
    background-color: #808080; 
}

main {
    display: flex; /* Torna o <main> um contêiner flexível */
    justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    height: 100vh; /* Define a altura para ocupar toda a altura da viewport */
}


/* img {
    max-width: 100%;
    height: auto; 
} */

/*menu start*/
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Garante que o menu fique acima do conteúdo */
    background-color: #000000; /* Cor preta */
}

.navbar-brand {
    display: block; /* Exibir como um bloco */
    text-align: center; /* Centralizar o texto */
}

.navbar-brand span {
    display: block; /* Exibir cada span como um bloco */
}

.navbar-brand span {
    font-size: 2em; /* Tamanho da fonte */
    font-family: 'medieval'; /* Fonte */
    color: #ffffff; /* Cor do texto */
    margin: 5px 0; /* Margem entre os spans */
}
/*menu end*/