<section class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <ul class="custom-list">
                <li><a href="#" class="custom-link">Hoje</a></li>
                <li><a href="#" class="custom-link">Trabalho</a></li>
            </ul>
            <button type="button" class="btn btn-primary mt-2 custom-button">+Adicionar Projeto</button>
        </div>
    </div>
</section>
