{{>menu_logado}}

<div class="container-fluid" style="display: flex; flex-direction: row;">

    <!-- Nova seção ocupando a parte da esquerda -->
    <section style="flex: 0 0 25%; padding: 20px;">
        <div class="d-flex align-items-center justify-content-center h-100"> <!-- Utilizando flexbox para centralizar -->
            <div class="card" style="height: 50%; width: 75%">
                <div class="card-body">
                    <h5 class="card-title">Novo Card</h5>
                    <p class="card-text">Conteúdo do novo card.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Main ocupando a parte da direita -->
    <main style="flex: 1; padding: 20px;">
        <div class="d-flex align-items-center justify-content-center h-100 w-100"> <!-- Utilizando flexbox para centralizar -->
            <div class="card" style="height: 50%; width: 75%">
                <div class="card-body">
                    <h5 class="card-title">Novo Card</h5>
                    <p class="card-text">Conteúdo do novo card.</p>
                </div>
            </div>
        </div>
    </main>

</div>

{{>footer}}
