{{>menu_logado}}

<div class="container-fluid" style="display: flex; flex-direction: row;">

    <!-- Seção ocupando a parte da esquerda -->
    <section style="flex: 0 0 25%; padding: 20px;">
        <div class="d-flex align-items-center justify-content-center h-100"> 
            <div class="card" style="height: 50%; width: 75%">
                <div class="card-body">
                    <form class="d-flex flex-column align-items-center" action="/adicionar_lista" method="post"> 
                        <div class="mb-3">
                            {{!-- <label for="nomeLista" class="form-label">Nome</label> --}}
                            <input type="text" class="form-control" name="nome" id="nomeLista" placeholder="Digite o nome da lista"> 
                        </div>
                        <button type="submit" class="btn btn-primary">Adicionar nova lista</button> 
                    </form>
                    <div class="mt-4">
                        <h5>Sua(s) Lista(s)</h5>
                        <ul id="lista-projetos" style="list-style: none; text-decoration: none; display: inline-block;">
                            <!-- Cada projeto terá um identificador único, como o próprio nome do projeto -->
                            {{#each projetos}}
                                <li class="projeto" data-nome="{{this}}">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção ocupando a parte central -->
<main style="flex: 1; padding: 20px;">
    <div class="d-flex align-items-center justify-content-center h-100 w-100"> 
        <div class="card position-relative" style="height: 50%; width: 75%;">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col">
                        <h5 class="card-text mb-4">{{ projetoSelecionado }}</h5>
                    </div>
                    <div class="col-auto">
                        <button id="addButton" type="button" class="btn btn-primary">Adicionar Tarefa</button>
                    </div>
                </div>
                <!-- Área para exibir as tarefas como checkboxes -->
                <div id="listaTarefas">
                    <!-- Aqui serão exibidas as tarefas dinamicamente como checkboxes -->
                </div>
                <!-- Botão 'Tarefa Concluída' -->
                <div class="position-absolute bottom-0 end-0" style="margin: 5px;">
                    <button id="concluirTarefaButton" type="button" class="btn btn-success" disabled>Tarefa Concluída</button>
                </div>
            </div>
        </div>
    </div>
</main>




</div>

<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content" style="width: 20%; align-items: center;">
        <h2>Adicionar Tarefa</h2><br>
        <form action="/adicionar_tarefa" method="post">
            <input class="form-control" type="text" id="nomeTarefa" name="nomeDaTarefa" placeholder="Nome da Tarefa" required>
            <br>
            <button class="btn btn-primary" type="submit">Confirmar</button>
            <button class="btn btn-danger" id="cancelButton" type="button">Cancelar</button>
        </form>
    </div>
</div>

{{>footer}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById("modal");
        var addButton = document.getElementById("addButton");
        var cancelButton = document.getElementById("cancelButton");

        addButton.onclick = function() {
            modal.style.display = "block";
        }

        cancelButton.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

    // Quando o documento estiver pronto
    $(document).ready(function() {

        $(document).on('change', 'input[type="checkbox"]', function() {
        // Verificar se pelo menos uma checkbox está marcada
        if ($('input[type="checkbox"]:checked').length > 0) {
            // Se sim, habilitar o botão 'Tarefa Concluída'
            $('#concluirTarefaButton').prop('disabled', false);
        } else {
            // Se não, desabilitar o botão 'Tarefa Concluída'
            $('#concluirTarefaButton').prop('disabled', true);
        }
    });


        // Fazer requisição AJAX para buscar os projetos do usuário
        $.ajax({
            url: '/projetos',
            method: 'GET',
            success: function(response) {
                // Atualizar a lista de projetos na página
                var projetosHtml = '';
                response.forEach(function(projeto) {
                    projetosHtml += '<li style="cursor: pointer;" class="projeto" data-nome="' + projeto + '">' + projeto + '</li>';
                });
                $('#lista-projetos').html(projetosHtml);

                // Adicionar evento de clique aos itens da lista de projetos
                $('.projeto').click(function() {
                    var projetoSelecionado = $(this).data('nome');
                    // Enviar requisição para a rota do servidor para atualizar o projeto selecionado
                    $.ajax({
                        url: '/selecionar_projeto',
                        method: 'POST',
                        data: { projetoSelecionado: projetoSelecionado },
                        success: function(response) {
                            // Recarregar a página para refletir a alteração
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            // Tratar erros da requisição
                            console.error('Erro ao selecionar projeto:', error);
                        }
                    });
                });
            },
            error: function(xhr, status, error) {
                // Tratar erros da requisição
                console.error('Erro ao buscar projetos:', error);
            }
        });

        // Fazer requisição AJAX para buscar e mostrar as tarefas do projeto selecionado
        $.ajax({
        url: '/mostrar_tarefas',
        method: 'GET',
        success: function(response) {
            // Limpar a área de lista de tarefas
            $('#listaTarefas').empty();

            // Iterar sobre as tarefas retornadas e renderizá-las como checkboxes
response.forEach(function(tarefa) {
    $('#listaTarefas').append('<div><input type="checkbox" id="tarefa_' + tarefa.id + '" name="tarefa_' + tarefa.id + '" value="' + tarefa.nome + '"><label for="tarefa_' + tarefa.id + '">' + tarefa.nome + '</label></div>');
});

        },
        error: function(xhr, status, error) {
            console.error('Erro ao buscar tarefas do projeto:', error);
        }
    });

    $('#concluirTarefaButton').click(function() {
    // Obter todas as caixas de seleção marcadas
    var tarefasConcluidas = [];
    $('#listaTarefas input[type="checkbox"]:checked').each(function() {
    tarefasConcluidas.push($(this).val());
    console.log($(this).val()); // Adicione esta linha para imprimir o valor de cada checkbox selecionada
});


    // Enviar uma solicitação AJAX para a rota '/concluir_tarefas' com as tarefas marcadas como concluídas
    $.ajax({    
        url: '/concluir_tarefas',
        method: 'POST',
        data: { tarefasConcluidas: JSON.stringify(tarefasConcluidas) }, // Alterado para enviar diretamente os IDs das tarefas
        success: function(response) {
            // Atualizar a página ou realizar outras ações após a conclusão bem-sucedida
        },
        error: function(xhr, status, error) {
            // Tratar erros de requisição, se necessário
            console.error('Erro ao concluir tarefas:', error);
        }
    });
});

        
    });
</script>
