{{!-- <main>
    <div class="img">
        <img src="./imagens/to_do.jpg" alt="">
    </div> 
</main> --}}


<main class="container-fluid">
    <div class="row justify-content-center align-items-center frase">
        <div class="col text-center">
            <h1 class="text-light">Organize sua vida,</h1>
            <h1 class="text-light" style="margin-left: 150pt;">Uma tarefa de cada vez.</h1>
        </div>
    </div>
    <div class="col text-center descricao"> <!-- Alterada a classe aqui -->
        <h2 class="text-light" style="font-size: 20px;">Use nosso site para</h2>
        <h2 class="text-light" style="font-size: 20px;">lembrá-lo de suas tarefas</h2>
        <h2 class="text-light" style="font-size: 20px;">diárias, aniversários de familiares</h2>
        <h2 class="text-light" style="font-size: 20px;">ou amigos e muito mais.</h2>
    </div>
    <div class="row justify-content-center align-items-center botao">
        <div class="col text-center">
            <button class="btn btn-light">Registre-se</button>
        </div>
    </div>
</main>